<mat-accordion>
  <mat-expansion-panel (opened)="onUserDetailsOpened(user.id)" *ngFor="let user of users"
                       [expanded]="isUserDetailsOpen(user.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{user.firstName}} {{user.lastName}}

        <mat-chip-list *ngIf="user.roles && user.roles.length" class="roles-list">
          <mat-chip *ngFor="let role of user.roles" color="primary">{{role}}</mat-chip>
        </mat-chip-list>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-user-list-item [user]="user"></app-user-list-item>

    <mat-action-row>
      <button (click)="onEditRolesClicked(user.id)" color="primary" mat-flat-button>Edit Roles</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
